#canvas {
    width: 70%;
    height: 100%; 
    padding: 0%;
    border: solid black 2px;
    margin-left: 15px;
    margin-top: 15px;
}

.auxbody{
  padding: 20px;
}

#nameFile{
  margin-top: 12px;
  margin-left: 20px;
}


#inputUpload {
    display:none;
}

#Upload {
    margin-left: 45px;
    margin-top: 40px;
}

.form-check {
    margin: 30px;
}



#auxCheck {
  display:none;
    transform: scale(0.4) !important;
    margin: 0px !important;
}

#RanorInt{
  display:none;
}

#auxCheck2 {
  
  transform: scale(0.4) !important;
  margin: 0px !important;
}

#auxCheckColors {
  display:none;
  transform: scale(0.4) !important;
  margin: 0px !important;
}

input#myCheck2d{
  height:22 !important;
  width: 72 !important;
}

.switch input {
 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch {
	width: 180px;
	height: 55px;
	position: relative;
	margin: 100px auto;
}

.switch label {
	display: block;
	width: 80%;
	height: 100%;
	position: relative;
	background: #1F2736; /*#121823*/
    background: linear-gradient(#121823, #161d2b);
	border-radius: 30px 30px 30px 30px;
	box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.5),
        inset 0 1px 0 rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,0.2);
		-webkit-transition: all .5s ease;
transition: all .5s ease;

}

.switch input ~ label i {
    display: block;
    height: 51px;
    width: 51px;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    border-radius: inherit;
    background: #283446; /* Fallback */
    background: linear-gradient(#36455b, #283446);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 12px 12px rgba(0,0,0,0.4);
	-webkit-transition: all .5s ease;
transition: all .5s ease;
}


.switch label + span {
	content: "";
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 90px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background: #283446; 
background: gradient-gradient(#36455b, #283446);
box-shadow:
		  inset 0 1px 0 rgba(0,0,0,0.2),
  		0 1px 0 rgba(255,255,255,0.1),
  		0 0 10px rgba(185,231,253,0),
  inset 0 0 8px rgba(0,0,0,0.9),
  inset 0 -2px 5px rgba(0,0,0,0.3),
  inset 0 -5px 5px rgba(0,0,0,0.5);
 	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
}

 /* Toggle */
.switch input:checked ~ label + span { 
	content: "";
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
	background: #b9f3fe; 
background: gradient-gradient(#ffffff, #77a1b9);
box-shadow:        
		  inset 0 1px 0 rgba(0,0,0,0.1),
		  0 1px 0 rgba(255,255,255,0.1),
		  0 0 10px rgba(100,231,253,1),
		  inset 0 0 8px rgba( 61,157,247,0.8),
  inset 0 -2px 5px rgba(185,231,253,0.3),
  inset 0 -3px 8px rgba(185,231,253,0.5);

 }

.switch input:checked ~ label i {
    left: auto;
    left: 63%;
	box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 8px 8px rgba(0,0,0,0.3),
		inset -1px 0 1px #b9f3fe;

	-webkit-transition: all .5s ease;
transition: all .5s ease;
}
 
#wire{
  margin-left: -40px;
}




.switchRorI {
  position: relative;
  margin-top: 45px;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-labelRorI {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-labelRorI:active {
  font-weight: bold;
}

.switch-label-offRorI {
  padding-left: 2px;
}

.switch-label-onRorI {
  padding-right: 2px;
}


.switch-inputRorI {
  display: none;
}

.switch-inputRorI:checked + .switch-labelRorI {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out; 
  transition: 0.15s ease-out;
}

.switch-inputRorI:checked + .switch-label-onRorI ~ .switch-selectionRorI {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selectionRorI {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blueRorI .switch-selectionRorI {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.my-legendColor{
  display: none;
 
}
.my-legendColor .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
  }
.my-legendColor .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legendColor .legend-scale ul li {
  display: block;
  float: left;
  width: 4px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
  }
.my-legendColor ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
  }
.my-legendColor .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legendColor a {
  color: #777;
  }





  .my-legendGray{
    display: none;
   
  }
.my-legendGray .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
  }
.my-legendGray .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legendGray .legend-scale ul li {
  display: block;
  float: left;
  width: 4px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
  }
.my-legendGray ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
  }
.my-legendGray .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legendGray a {
  color: #777;
  }


  .animate{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button{
	position: relative;
  
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-size: 15px;
	color: #FFF;
  text-decoration: none !important;	
  height:25px !important;
}

.action-button:hover{
  color:#FFF !important;
}
.blue{
  
	background-color:#0f0f67;
	border-bottom: 5px solid #010119;
  text-shadow: 0px -2px #004;
  width: 70% !important;
  text-align: center;
  margin-bottom: 15px;
}

.activeState{
  background-color: #010119;
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  box-shadow: 0 0 3px rgb(0, 245, 225);
}

.auxCol{
  margin-left: 30px;
  display: none; 
  background-color: #2b3035;
  padding: 10px;
  border: solid black 2px;
  margin-top: 15px;
}

.titleOptA{
  margin-top: 10px;
  color: white !important;
}
.titleOpt{
  margin-top: 15px;
  color: white !important;
}



body{
  background-color: #353c42;
  color: #bdbdbd;
}

nav{
  background-color: #272c30;
}

.auxCol .row{
  margin-left: 15%;
}




/*tri-state button*/
.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px 0px;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 318px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font-size:13px;
  color: rgba(255,255,255,1);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
 background:rgba(15, 15, 103, 0.5);
  left: 3px;
  color: white;
}
#second_toggle:checked ~ .toggle_option_slider{
  background:rgba(15, 15, 103, 0.5);
  left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background:rgba(15, 15, 103, 0.5);
  left: 215px;
}

.auxb{
  background-color: #0f0f67;
  color: white;
  border: solid 2px #0f0f67;
  height: 30px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  margin-top: 10px !important;
  
}
.auxb:hover{
  color: #0f0f67;
  border: solid 2px #0f0f67;
  background: rgba(0, 0, 0, 0);
}

.box-green {
  display:       inline-block;
  width:         10px;
  height:        10px;
  border-radius: 50%;
  background:    #00FF00;
  margin-left: 20px;
}

#flagRead{
  display: none;
}

.slider {
  width: 200px;
  margin-top: 10px;
  padding : 0px !important;
}

.outputSlide{
  padding : 0px !important;
  margin-left: -10px;
  margin-top: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

/*loading*/
#loading{
  position: absolute;
  top:60%;
  left:35%;
  z-index: 100;
}

